// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

@mixin make-row() {
  &:after{content: '';display:block; clear: both;visible: hidden;}
}

@mixin make-col($size, $columns: $grid-columns) {
  width: percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($size / $columns);
  float: left;
}

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    min-height: 1px; // Prevent columns from collapsing when empty
  }
  @for $i from 1 through $columns {
      .col-#{$i} {
        @extend %grid-column;
        @include make-col($i, $columns);
      }
  }
}

