.clearfix {
  @include clearfix();
}

.float-left  { @include float-left; }
.float-right { @include float-right; }
.float-none  { @include float-none; }

.text-left  { @include text-left; }
.text-right { @include text-right; }
.text-center  { @include text-center; }

// 字体颜色
@include make-color();

// 字体大小
@include make-font();
@include font-normal();
@include font-bold();
@include font-bolder();

/**
 * 垂直居中、水平居中、居中；绝对定位
 * @type {[type]}
 */
.vertical-middle{position: absolute;top:50%;transform:translateY(-50%)}
.horizon-middle{position: absolute;left:50%;transform:translateX(-50%)}
.absolute-middle{position: absolute;left:50%;top:50%;transform:translate(-50%,-50%)}

// 文本下划线
.underline{text-decoration:underline}

.cursor{cursor:pointer;}
.default-hover{
    cursor:pointer;
    &:hover{
        background-color: #fafafa;
    }
}

// 路由变化时候，页面淡入淡出效果
.fade-enter-active, .fade-leave-active {
    @include transition($transition-fade);
}
.fade-enter, .fade-leave-to {
    opacity: 0
}

.clear{
    &:after{content: '';display:block; clear: both; visibility: hidden;}
}
.hidden{display: none !important;}